$breakpoints: (
  'sm': 'screen and (max-width: 320px)',
  'md': 'screen and (min-width: 375px) and (max-width: 767px)',
  'lg': 'screen and (min-width: 768px)'
);

$header-heights: (
  'sm': 55px,
  'md': 60px,
  'lg': 65px
);

@mixin mq($breakpoint: md) {
  @if type-of($breakpoint) == list {
    @each $bp in $breakpoint {
      @media #{map-get($breakpoints, $bp)} {
        @content
      }
    }
  } @else {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content
    }
  }
}

@mixin theater-mode {
  transition: background-color .7s linear;

  &.theater-mode {
    background-color: #000;
  }
}
